// Typography

$serif: 'Prata', serif;
$sans: 'Open Sans', sans-serif;

$base-font-family: $serif;
$heading-font-family: $sans;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;


// 2	Color definitions



// 2.1	Base colors
$white:#f8f8f8;
$blue--light:#21a8d9;
$blue:#21a8d9;	
$cream:				#fff4ed;
$orange:#f99643;
$orange--light:#ffc89a;
$gray--dark: #353232;
$gray--medium: #999;
$gray--light: #f3f3f3;
$blue-gray:#6d7b7d;
$red:#f27e70;


// Font Colors
$base-background-color: $cream;
$base-font-color: $gray--dark;
$action-color: $blue;

$base-body-color: $cream;
$icon-color: $blue;
$primary-font-color: $gray--dark;
$link-color: $blue;
$title: $sans;
$content: $serif;


// Border
$base-border-color: $gray--light;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);









