/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxWrapper {
    font-family: 'Times New Roman';
    color: #ceb59f;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 42px;
}
#cboxOverlay {
    background: #603913;
}
#colorbox {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}
#cboxContent {
    background: #EDE7DD;
    /*overflow: hidden;*/
}
.cboxIframe {
    background: #fff;
}
#cboxError {
    padding: 50px;
    border: 1px solid #ccc;
}
#cboxLoadedContent {
    overflow: hidden !important;
    /*margin-top: 30px;*/
    margin-bottom: 60px;
}
#cboxTitle {
    position: absolute;
    top: -78px;
    left: 410px;
    text-align: left;
    width: 550px;
    overflow: hidden;
    height: 48px;
    color: #EDE7DD;
    font-size: 28px;
    font-family: 'times new roman';
    font-weight: bold;
    text-transform: uppercase;
}
@media screen and (max-width: 1023px) {
    #cboxTitle {
        display: none !important;
    }
}
#cboxCurrent {
    display: none !important;
}
#cboxSlideshow {
    position: absolute;
    bottom: 0px;
    left: 30px;
    margin: 9px 0;
}
#cboxPrevious {
    position: absolute;
    bottom: 0px;
    left: 25%;
    text-align: right;
    width: 25%;
    padding-right: 2%;
    border-right: 1px solid #ceb59f;
    height: 42px;
    margin: 9px 0;
}
#cboxPrevious:before {
    content: '< ';
    position: relative;
    right: 10px;
}
#cboxNext {
    position: absolute;
    bottom: 0px;
    left: 50%;
    text-align: left;
    width: 25%;
    padding-left: 2%;
    height: 42px;
    margin: 9px 0;
}
#cboxNext:after {
    content: ' >';
    position: relative;
    left: 10px;
}
@media screen and (max-width: 767px) {
    #cboxPrevious,
    #cboxNext {
        visibility: hidden;
    }
    #cboxPrevious:before,
    #cboxNext:after {
        position: absolute;
        visibility: visible;
    }
    #cboxPrevious:before {
        right: 22px;
    }
    #cboxNext:after {
        left: 22px;
    }
}
#cboxLoadingOverlay {
    background: #fff ;
}
#cboxClose {
    position: absolute;
    bottom: 0;
    left: auto;
    right: 30px;
    display: block;
    margin: 9px 0;
}
#cboxTopCenter {
    height: 150px;
    background: transparent url('../img/lightbox-head-bg.png') no-repeat 0 0;
}
@media screen and (max-width: 430px) {
    #cboxTopCenter {
        background-position: left bottom;
        background-size: 223%;
    }
}
.cboxPhoto {
    border: none;
    /*max-width: 900px;*/
    width: 100%;
}
.cboxIframe{
    width: 640px;
    height: 360px;
    margin: 0 auto;
}

.entry-content img {
    vertical-align: baseline;
}
.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; margin-right: 22px; margin-bottom: 22px;}
.alignright { float: right; margin-left: 22px; margin-bottom: 22px; }
figure.alignnone { margin-left: 0; margin-right: 0; }

div.roundabout-container {
    /*width: 960px;*/
    /*height: 277px;*/
}

/*@media screen and (max-width: 890px) {
    div.roundabout-container {
        height: 0;
        padding-bottom: 28.3333333%;
    }
}*/

ul.roundabout-holder {
    height: 277px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    top: -27px;
    width: 48.80174291939%;
}

.roundabout-holder li {
    cursor: pointer;
    height: 277px;
    margin-left: 33%;
    /*margin-top: -27px;*/
    text-align: center;
    width: 66.517857142857%;
}

@media screen and (max-width: 767px) {
    .roundabout-holder li {
        margin-top: 0;
    }
}

.roundabout-holder li figure > img {
    width: 100%;
}

.roundabout-holder li.roundabout-in-focus {
    cursor: default;
}

.roundabout-holder li span {
    display: block;
    padding-top: 6em;
}

.roundabout-holder figure {
    margin: 0;
    padding: 0;
}

.roundabout-holder figcaption {
    position: absolute;
    top: 11px;
    left: -156%;
    /*right: 200%;*/
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.08s linear;
       -moz-transition: opacity 0.08s linear;
            transition: opacity 0.08s linear;
}

.roundabout-holder figcaption img {
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
}

.roundabout-holder li.roundabout-in-focus figcaption {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.25s linear;
       -moz-transition: opacity 0.25s linear;
            transition: opacity 0.25s linear;
}

#links {
    /*background: #EDE7DD;*/
    position: relative;
    z-index: 999
}

#comments,
#respond {
    /*float: left;*/
}

#respond h4,
#comments h4 {
    border-bottom: 1px solid #572700;
    font-size: 22px;
    padding: 0;
    text-transform: uppercase;
}

#respond h4 {
    margin-top: 24px;
}

#comments h4 {
    border: none;
    margin-bottom: 12px
}

.comment-author time {
    float: none;
    color: #572700;
    top: 0;
    display: block;
}

.commentlist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.commentlist li.comment {
    background: #dfd6cb;
    padding: 11px;
}

#main .commentlist section,
#main .commentlist p {
    padding: 0;
}

.really_simple_share,
.blog-tags {
    border-top: 1px solid #572700;
    float: left;
    font-size: 19px;
}

.really_simple_share {
    margin-top: 24px;
    padding-top: 6px !important;
    width: 948px;
}

.blog-share p {
    text-transform: uppercase;
}

#main .blog-share p,
#main .blog-tags p {
    font-size: 19px;
    /*margin: 6px 0;*/
    padding: 0 !important;
}

.blog-tags a {
    text-decoration: none;
}

div.really_simple_share {
    height: auto !important;
    padding-top: 7px !important;
}

.really_simple_share_prepend_inline {
    margin-left: 11px;
    position: relative;
    top: -2px;
    text-transform: uppercase;
}

.really_simple_share_facebook_like,
.really_simple_share_facebook_like_send,
.really_simple_share_email,
.fb_edge_widget_with_comment,
.fb_iframe_widget span {
    margin: 0 !important;
    /*padding: 0 0 0 12px !important;*/
    height: 20px !important;
    vertical-align: top !important;
}

.really_simple_share_facebook_like_send,
.really_simple_share_email {
    margin-top: 1px;
}

.schedule {
    border: 1px solid black;
    width: 100%;
}

.schedule caption {
    background: black;
    color: white;
    font-size: 21px;
    font-weight: normal;
    letter-spacing: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.schedule tbody tr:last-child td {
    padding-bottom: 18px;
}

.schedule th {
    text-align: left;
}

.schedule td:first-child,
.schedule th:first-child {
    padding-left: 75px;
}

.schedule td:last-child,
.schedule th:last-child {
    padding-right: 75px;
}

.schedule thead th {
    font-size: 25px;
    line-height: 27px;
    padding-top: 12px;
    padding-bottom: 6px;
}

.schedule thead:first-of-type th {
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
}

.flexslider {
    /*display: block;*/
    /*float: left;*/
    /*position: relative;*/
    /*margin-left: 11px;*/
    /*margin-right: 11px;*/
    /*height: 270px;*/
    background-color: #fff;
    margin: 0 auto 60px;
    max-width: 298px;
    -webkit-box-shadow: 0 0 15px 2px rgba(35,31,32,0.3);
       -moz-box-shadow: 0 0 15px 2px rgba(35,31,32,0.3);
        -ms-box-shadow: 0 0 15px 2px rgba(35,31,32,0.3);
         -o-box-shadow: 0 0 15px 2px rgba(35,31,32,0.3);
            box-shadow: 0 0 15px 2px rgba(35,31,32,0.3);

}
#carousel-controls {
    bottom: 12px;
    /*margin-left: 11px;*/
    position: absolute;
    z-index: 999;
}
.flex-control-paging {
    bottom: -20px;
    width: auto;
}
.flex-control-paging li {
    display: block;
    float: left;
    margin: 0 4px 0 0;
}

.flex-control-paging li a {
    box-shadow: none;
    width: 8px;
    height: 8px;
}

.flexslider .flex-control-paging li a {
    background: #cec0b1;
}
.flexslider .flex-control-paging li a.flex-active {
    background: #b09985;
}

#scrollable .flex-control-paging li a {
    background: #754c2e;
}
#scrollable .flex-control-paging li a.flex-active {
    background: #927259;
}

.lifecare {
    float: none !important;
    font-style: normal !important;
    text-transform: none !important;
}

.fortieth-logo {
    display: block;
    position: absolute;
    top: -75px;
    width: 130px;
    z-index: 99;
}

#employment-form label {
    line-height: 24px;
    padding-bottom: 3px;
}

#employment-form fieldset {
    margin-bottom: 12px;
}

#employment-form fieldset.check {
    margin-top: 36px;
}

#employment-form fieldset.grid_3.check {
    margin-top: 0;
}

#employment-form fieldset.grid_12.check {
    margin: 6px 11px 18px;
}

#employment-form fieldset.form-upload {
    margin: 12px 0 24px;
}

#employment-form p.question {
    margin: 0 0 12px;
    padding: 0;
}

#employment-form p.question + fieldset.check,
#employment-form p.question + fieldset.grid_12.check {
    margin-top: 0;
}

#employment-form .check .wpcf7-list-item,
#employment-form span.question {
    float: left;
    margin-right: 12px;
}

#employment-form h3 {
    margin: 24px -11px;
}

.add-another-section {
    margin-top: 24px;
}

#main .really_simple_share div {
    margin-right: 10px !important;
    padding: 0;
}


.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }





.cboxContent button{
    background:none;
    color:$brown;
}


