/* Flexnav Base Styles */



.flexnav {

	margin: 0 auto;
	background:$cream;
	max-height: 0;
	-webkit-transition: all .5s ease-in-out, width 0, height 0, top 0, left 0;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out, width 0, height 0, top 0, left 0;
	-webkit-transform-style: preserve-3d; // stop webkit flicker
	&.opacity {
		// opacity: 0;
		@include padding-left(0);
	}

	ul {
		@include padding-left(0);
	}

	&.flexnav-show {
		max-height: 2000px;
		// opacity: 1;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-ms-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}
	

	li {
		font-size: 100%;
		position: relative;

	}
	li a {
		position: relative;
		display:inline;
		padding:.6em;
		z-index: 2;

		color: $nav_text;
		background: $cream;
		white-space: nowrap;
		font-size:.9em;
		margin-left:2vw;
		@include media($mdbg){
			font-size:1.2em;
		}

		&:hover {

			color: $link-color !important;
		}
		 &:focus {
		 	background: #fff;
		 }
	}
	li ul {
		display: none;
		margin-bottom: 0;
		@include padding-left(0);
		width: 100%;
		z-index: 5;

		li {
			font-size: 100%;
			position: relative;

			&:last-child {
				border-bottom: 1px solid $third_level;
			}
		}
	}
	li ul.flexnav-show {

		li {
			overflow: visible;
		}
	}

	li ul li a {
		display: block;
		background: $cream;
	}
	ul li ul li a {
		background: $third_level;
	}
	ul li ul li ul li a {
		background: $fourth_level;
	}
	.touch-button {
		position: absolute;
		z-index: 999;
		top: 0;
		right:-24px;
		width: 50px;
		height: 100%;
		display: inline-block;
		text-align: center;
		&:hover {
			cursor: pointer;
		}
		.navicon {
			position: relative;
			
			font-size: 10px;
			color: $blue--light;
		}
	}
}
.menu-button {
	position: relative;
	display: block;
	padding: 1em;
	background: transparent;
	color: $brown;
	cursor: pointer;
	width: 100%;

	&.one-page {
		position: fixed;
		top: 0;
		@include right(5%);
		@include padding-right(45px);
	}

	.touch-button {
		background: transparent;
		position: absolute;
		z-index: 999;
		top: 0;
		@include right(0);
		width: 50px;
		height: 50px;
		display: none;
		text-align: center;

		.navicon {
			font-size: 16px;
			position: relative;
			color: $blue--light;
		}
	}
}
.menu-button {
	&:hover {
		color: $base-body-color;
		i.navicon {
			color: $base-body-color;
				&:after {
					color: $base-body-color;
					content:'Menu';
			}
		}
	}
	i.navicon {
		display: block !important;
		position: relative;
		@include right(10px);
		&:after {
			color: #555;
			content:'Menu';
		}
	}
}





@media all and (min-width: 800px) {
	body.one-page {
		padding-top: 70px;
	}
	.flexnav {
	
		overflow: visible;
		&.opacity {
		  opacity: 1;
		}
		&.one-page {
			top: 0;
			@include right(auto);
		}


		li {
			display:inline;
			list-style: none;
			background-color: $cream;
			color:$brown;
			overflow: visible;


		}

		li > ul {
			position: absolute;
			top: auto;
			@include left(0);

			li {
				width: 100%;
			}
		}
		li ul li > ul {
			@include margin-left(100%);
			top: 0;
		}
		li ul li:hover > ul,
		li ul li > ul.flexnav-show {
		}
		li ul li a {
			border-bottom: none;
		}
		li ul.open {
			display: block;
			opacity: 1;
			visibility: visible;
			z-index: 1;
			li {
				overflow: visible;
				max-height: 100px;
			}
			ul.open {
				@include margin-left(100%);
				top: 0;
			}
		}
	}
	.menu-button {
		display: none;
	}
}

.oldie {
	body.one-page {
		padding-top: 70px;
	}
	.flexnav {
		overflow: visible;
		&.one-page {
			top: 0;
			@include right(auto);
			max-width: 1080px;
		}
		li {
			position: relative;
			list-style: none;
			@include float(left);
			display: block;
			background-color: $cream;
      width: 20%;
			min-height: 50px;
			overflow: visible;
		}
		li:hover > ul {
			display: block;
			width: 100%;
			overflow: visible;
			li {
				width: 100%;
				float: none;
			}
		}
		li a {
			@include border-left(1px solid #acaca1);
			border-bottom: none;
			overflow: visible;
		}
		li > ul {

			position: absolute;
			top: auto;
			@include left(0);
			display: none;
			z-index: 1;
			overflow: visible;
		}
		li ul li ul {
			top: 0;
		}
		li ul li a {
			border-bottom: none;
		}
		li ul.open {
			display: block;
			width: 100%;
			overflow: visible;
			li {
				width: 100%;
			}
			ul.open {
				@include margin-left(100%);
				top: 0;
  				display: block;
				width: 100%;
				overflow: visible;
			}
		}
		ul li:hover ul {
			@include margin-left(100%);
			top: 0;
		}
	}
	.menu-button {
		display: none;
	}
	&.ie7 .flexnav li {
		width: 19.9%;
	}
}
