

.button--container{
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	        @include media($nav) {flex-direction:row;}
	margin-bottom:4em;
}

a.button__choose{
	padding:1em;
	font-family:$sans;
	font-weight:600;
	text-decoration:none;
	color:$white;
	border-radius:10px;
width:100%;
	        @include media($nav) {
	width:50%;
}
	min-height:120px;
	font-size:2em;

	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:row;
	flex-wrap:wrap;
	border:4px solid transparent;
transition:border .4s ease;
transition:color .4s ease;

&:nth-of-type(2n){
		background:$red;
		        @include media($nav) {margin-left:.5em;}
		&:hover{
			background:$white;
	color:$red;
	border:4px solid $red;
		}
	}

&:first-of-type{
	background:$blue;
	&:hover{
			background:$white;
	color:$blue;
	border:4px solid $blue;
		}
	
}
}


a.button__choose.bill{
	background:url('../images/bill.svg') no-repeat $red;
	background-blend-mode:multiply;
	background-size: 35%;
    background-position: 110% 13%;
}

a.button__choose.forms{
		position:relative;
	background:url('../images/chart__blue.svg') no-repeat $blue;
	background-blend-mode:multiply;

	background-size: 35%;
    background-position: -10% 13%;
}


