.footer {
    background: $blue-gray;
    padding: 1em 3vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    flex-direction:column;
             @include media($nav) {
                flex-direction:row;
            }
}





.footer__logo{
    color:$white;
    text-align:center;
             @include media($nav) {
                text-align:left;


             }

    svg{
        margin-bottom:.5em;
        fill:$white;



    }
    p{
        margin:0em;
        font-size:.75em;
    }
    a{
        color:$white;
                font-size:.75em;

                &:hover{
                    color:$white;
                }
    }
}

.footer__contact {
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align:center;

             @include media($nav) {
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction:row;
    text-align:left;
}
    h5,
    a,
    address,
    p {
        color: $white;
    }
    h5 {
        font-family: $sans;
        text-transform: uppercase;
        font-size: 1em;
        letter-spacing: 1px;
        font-weight: 600;
        margin-bottom: .5em;

    }
    a {
        font-size: .75em;
    }
    address {
        font-style: normal;
        font-size: .75em;
    }
}

.footer__address {
     text-align:center;
      flex-direction: column;
    display: flex;
    align-items: center;
       @include media($nav) {
         align-items: flex-start;
    margin-left: 1em;
    text-align:left;

}
   
}

.footer__phone {
align-items:center;
margin-top:1em;

    display: flex;
           @include media($nav) {
            margin-top:0em;
    text-align:center;
    align-items: flex-start;
}
    flex-direction: column;
}


.to-top__button{
width:50px;
height:50px;
padding:.5rem;
border-radius:10px;
position:relative;
        @include media($nav) {
            top:-3em;}
transition:all .6s ease;


}


.top__button{
    
div{
    background:$orange--light;
}

 svg{
    fill:$white;
     }

transition:all .6s ease;
     &:hover{
        div{
            background:$white;
        }
        svg{
            fill:$blue-gray;
        }
     }
}


.footer__logo svg{

                    width:50%!important;
                    height:50%!important;
}