nav.top-bar {
@include media($nav){
	flex-direction:row;
justify-content:space-between;
height:100%;
padding:1.5em 3vw;
box-shadow:0 2px 5px 0 rgba(0,0,0,0.1);


svg{
	height:100%;
	width:100%;

}

}

.top-bar-section .dropdown li.active:not(.has-form):last-child a:not(.button){
	font-size:1em;
box-shadow:0 2px 5px 0 rgba(0,0,0,0.1);

	padding:.5em;
}



.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    font-size: 1em;
    padding: 0 .5em;
    font-size: 1em;
    border: 1px solid $gray--light;
box-shadow:0 2px 5px 0 rgba(0,0,0,0.1);
    padding: .5em;
}


.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button):nth-of-type(odd){
	border-top:1px solid $gray--light;
	border-bottom:1px solid $gray--light;

}

section.top-bar-section {
display: inline-block!important;
}




.top-bar-section ul li > a {
	font-size:1em;
	text-decoration:none;
	@include media($mdbg){
		font-size:1em;
		font-weight:600;
		letter-spacing:2px;
	}
	@include media($hg){
		font-size:1.2em;
	}
}
}
.top-bar-section li.active:not(.has-form) a:not(.button){
	color:$blue;
}



.top-bar .name path.e{
	display:none;
		@include media($hg){
			display:block;
}

}



.tab-bar{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}

.middle.tab-bar-section{

svg{
	padding:.5em;
}

path.e{
	display:none;
}

}


.move-right .exit-off-canvas{
	box-shadow: -4px 0 4px rgba(82, 129, 160, 0.71), 4px 0 4px rgba(29, 56, 74, 0.7);
}


ul.off-canvas-list li label{
	font-family:$sans;
	font-weight:300;
	font-size:1.2em;
}


ul.off-canvas-list li a{
	border-bottom:1px solid $white;
	font-family:$sans;
	font-weight:300;
	letter-spacing:-.5px;

em{
	font-family:$serif;
}

	&:after{
		font-family:$serif;
	}
}


.left-small{
	border-right:0px;
	
}


.back {
	font-size:1.25em;
}

.back a{
    letter-spacing: 2px!important;
    font-family: $sans;
    font-weight: 600;
    border-top:0px;
}


ul.off-canvas-list li a:hover{
	background:$blue--light;
	color:$white;
}


.left-submenu .menu-item a:hover{

}


.tab-bar h1{
	font-family:$sans;
	text-transform:capitalize;
	letter-spacing:1px;
	font-weight:400;
}



.f-topbar-fixed{
.top-bar{box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
	padding-top:0em!important;
	     @include media($nav) {padding-top:25px!important;}

}
}

.top-bar-section li:not(.has-form) a:not(.button) {
	padding:0 .5rem;

	@include media($mdbg){
		padding:0 1rem;
		}}


.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
	border-bottom:1px solid $cream;
}


.top-bar-section li.active:not(.has-form) a:not(.button),.top-bar-section ul li:not(.has-form) > a{

}

.top-bar-section li.active:not(.has-form) a:not(.button):hover,.top-bar-section ul li:hover:not(.has-form) > a{


	text-decoration:none;

}





.top-bar-section .right li .dropdown{
	z-index:99999;
	@include media($md){
		right:-90px;
	}
	@include media($mdbg){
		right:auto;
	}
	}



.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
  @include media($nav){  font-size: 1em;
    padding: 0 .5em;}

}


.left-submenu{


 }




.sub-menu dropdown > li .top-bar-section li.active:not(.has-form) a:not(.button){
font-size:1em!important;

}


nav.top-bar .top-bar-section .dropdown li.active:not(.has-form) a:not(.button) {
    font-size: 1em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    padding: .5em;
}


.large-nav{
	display:none;
	@include media($nav){
		display:block;
		box-shadow:0 2px 5px 0 rgba(0,0,0,0.1);

	
	}
}

.small-nav{
	display:block;
	border-bottom:1px solid #f8f8f8;
	@include media($nav){
		display:none;
		}
}



.top-bar-section li.active:not(.has-form) a:not(.button):hover{
		@include media($nav){color:$orange;
		}
}


.LC a::first-word{
	font-style:italic;

}



.top-bar-section li:not(.has-form) a:not(.button),.top-bar-section li.active:not(.has-form) a:not(.button){
line-height:1.75rem;
}

 .top-bar-section .has-dropdown > a:after {

top:50%;

}


.top-bar-section li.active:not(.has-form) a:not(.button):hover, .top-bar-section ul li:hover:not(.has-form) > a
{





}

.top-bar-section ul{
	display:flex;
	align-items:center;
	justify-content:center;
}


.left-submenu .back > a {
    background: #3c474c;
font-size:1rem;

}

