.blog__page{
	@include outer-container;
}


.single article{
@include outer-container;

.article-header h1{
	font-size:1.5em;
	@media screen and (min-width: 550px){

	font-size:2em!important;
	color:$seafoam--medium;}
}

}



.blog__comments{
	@include outer-container;
}



.blog__page h2,.blog__title{
	    background: $blue!important;
	        padding: 0.25em 0.25em 0.1em 0.25em!important;
    margin-bottom: 1em!important;
    margin-top: 2em!important;
    font-size: 35px!important;
    font-family: "Lora", serif!important;
    line-height: 1.25em!important;
    text-transform: uppercase!important;

}


.blog__page h2 a , .blog__title{
	color:#fff!important;
}


.blog__photo{
	@include span-columns(12);
	@media screen and (min-width: 550px){
	@include span-columns(3);}
}





.blog__info{
	padding:.5em;
	@include span-columns(12);
	@media screen and (min-width: 550px){
	@include span-columns(9);
}
}



.blog__post{
	@include outer-container;
	padding:1em;
}


.single__blog{
	@include outer-container;
}