.full-width__content{
	padding:1em 3vw;
}


.clinic--container{
	display:flex;
	align-items:flex-start;
	justify-content:center;
	flex-flow:column wrap;
	          @include media($nav) {flex-flow:row wrap;}


}


.clinic{
padding:1em;
margin-bottom:1em;
width:100%;
          @include media($nav) {width:35%;}
	display:flex;
	align-items:center;
	justify-content:center;
	flex-flow:column wrap;
	text-align:center;



p{
font-size:1rem;
font-weight:900;
color:$blue-gray;
       @include media($nav){
       	padding:0em 1em 0em 1em;
margin-bottom:0em;}
}
h4{
	font-weight:900;
	color:$red;
	margin-bottom:0em;
}

h5{
	color:$gray--dark;
	margin-top:0em;
	line-height:1em;
}

strong{

	text-transform:uppercase;


}
}


div#content {
    min-height: 73vh;
}