        body {
            background: $white;
        }
        
        .home .page-header {
            background: url('../images/hero.jpg');
            background-position: center top;
        background-size:400%;
            background-repeat: no-repeat;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            position: relative;
            padding: 1em 7vw;
            @include media($nav) {
                background-size: cover;
                background-position: top;
                min-height: 60vh;
            }
            @include media(850px) {
                flex-direction: row;
                     background-size: cover;
            }
        }
        
        .slogan {
            @include span-columns(12);
             text-align:center;
            @include media(850px) {
                text-align:left;
                @include span-columns(7)
            }
            h1 {
                margin-top: .125em;
                color: $blue--light!important;
                line-height: 1em;
                font-size: 2em;
                font-weight: 600;
            }
            @include media($nav) {

                h1 {
                    font-size: 5vw;
                    line-height: 5vw;
                }
            }
        }
        
        .subtitle {
            font-family: $sans;
            text-transform: uppercase;
            color: $orange;
            font-weight: 600;
            img {
                margin-bottom: .25em;
            }
        }
        
        .patient {
            @include span-columns(12);
            @include media($nav) {
                @include span-columns(4);
            }
            padding:1em;
        }
        
        .patient__panel {
            background: $blue--light;
            border-radius: 10px;
            padding: 1em;
            color: $white;
            margin-bottom: 2em;
            h3 {
                margin-top: 0;
                margin-bottom: .25em;
                color: $white;
                font-weight: 600;
                font-size: 1.5em!important;
            }
            p {
                line-height: 1.25em;
                font-size: .95em;
            }
        }
        
        .home {

            .page-header h1{
                text-align:center;
                @include media($nav) {
        text-align:left;
        font-size:5vw!important;
                }

            }

            .page-header__text {
                color: $white;
                min-height: 50vh;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                z-index: 1;
                padding: 2em 5vw;
                @include media($medium-screen) {
                    align-items: flex-end;
                    text-align: left;
                    background: url(../img/border.svg);
                    border: 0px;
                    background-size: contain;
                    background-position: right;
                    background-repeat: no-repeat;
                }
                @include media($hg) {
                    height: 520px;
                    width: 800px;
                }
                p {
                    @include media($medium-screen) {
                        @include span-columns(7);
                    }
                    @include media($hg) {
                        @include span-columns(8);
                    }
                }
            }
            .page-header__title {
                text-align: center;
                color: $white;
                font-family: $serif;
                text-transform: capitalize;
                font-style: italic;
                line-height: 50px;
                font-size: 3.1em;
                margin-top: 0em;
                margin-bottom: .5em;
                span {
                    font-family: $sans;
                    font-style: normal;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    letter-spacing: 12px;
                    line-height: 1px;
                }
                @include media($medium-screen-up) {
                    display: none;
                }
            }
        }
        
        .cta__icons {
            @include outer-container;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding: 2.5em 1em;
            flex-direction: column;
            @include media($nav) {
                flex-direction: row;
                   align-items: center;
            justify-content: flex-start;
            }
        }
        
        .cta__module {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            flex-direction: column;
            &:nth-of-type(even) {
                margin: 4em 0em;
                padding: 4em 0em;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    width: 50%;
                    height: 4px;
                    background: $blue--light;
                    border-radius: 20px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 50%;
                    height: 4px;
                    background: $blue--light;
                    border-radius: 20px;
                }
            }

            img {
                width: 20%;
                height: 100px;
                margin-bottom: .5em;
            }
            h2 {
                color: $orange--light;
                font-family: $sans;
                font-weight: 600;
                font-size: 1.75em;
                text-align: center;
            }
            p {
                font-size: .75em;
                text-align: center;
                color: $gray--medium;
            }
            h5 {
                font-family: $sans;
                font-weight: 600;
                color: $gray--medium;
                text-transform: uppercase;
                font-size: .75em;
                margin-bottom: .5em;
                letter-spacing: 2px;
            }
            data,
            a {
                color: $gray--medium;
                font-size: .75em;
            }
        }

        
                @include media($nav) {
                    .cta__module{
            padding:1em;
            min-height: 27vh;
                 display: flex;
    align-items: center;
    justify-content: flex-start;
         
                &:nth-of-type(even) {
          padding: 1em 2em;
                margin: 0em;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        margin: auto;
                        bottom: 0;
                        left: 0;
                        width: 4px;
                        height: 50%;
                        background: $blue--light;
                        border-radius: 20px;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 0;
                        margin: auto;
                        bottom: 0;
                        width: 4px;
                        height: 50%;
                        background: $blue--light;
                        border-radius: 20px;
                    }
                }
            }}
