.bio {
    @include outer-container;
}

.biography {
    position: relative;
    margin-bottom: 2em;
    margin-top:2em;
    width: 100%;

    .page-header__title {
        margin-bottom: 0em;
    }
    .page-header__subtitle {
        width: 50%;
        text-align: center;
        margin: auto;
    }
}

.bio--container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
	padding:1em 3vw ;
	min-height:60vh;
	margin-top:2em;
    max-width: 72em;
    margin: auto;
    margin-bottom:2em;
    width:100%;
flex-basis: 100%;
         @include media($nav) {
            align-items:flex-start;
            justify-content:center;
                flex-direction: row;}
}


.team__container {
    position: relative;
    width:50%;
    height:250px;
     display: flex;
    align-items: flex-end;
    justify-content: center;
	border-radius:20px;
	margin-bottom:1em;
      @include media($nav) {
    width:25%;

    margin-right:1rem;
       align-items: flex-end;
    justify-content: center;


}
}



.team__overlay{
	    background: linear-gradient( rgba(33, 168, 217, 0.7), rgba(33, 168, 217, 0.7));
    border-radius: 20px;
    z-index:5;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    opacity:0;
    transition:all .4s ease;
    align-self: stretch;
flex: 1;
}


.team__container a:hover .team__overlay{
	opacity:1;

}

.team__photo {
    position: relative;
    
    border-radius: 20px;
    background-size: cover!important;
    background-position: center 15%!important;
    background-repeat: no-repeat!important;
     width:100%;
    position: absolute;
    left: 0;
    z-index:-1;
    right: 0;
    bottom: 0;
    top: 0;
}

.team__container a:hover .team__photo{
     -webkit-filter: grayscale(100%);
    filter: gray;
}


.team__title {
	position:relative;
	z-index:6;
	display:flex;
	align-items:center;
    justify-content:flex-end;
    height:100%;
	flex-direction:column;
	opacity:0;
	transition:all .4s ease;
	padding:1em;
	text-align:center;
    width:100%;
align-self: stretch;
flex: 1;
    h3 {
    	color:$white;
        font-family: $sans;
        font-weight: 900;
        margin-bottom: 0em;
    }

    p{
    	color:$white;

    }
}

.team__container a:hover .team__title{
	opacity:1;
}


.team__container:nth-of-type(3n){

}


.team__container a:hover{
	text-decoration:none;
}

.bio__text {
    background: rgba($blue, .5);
    position: relative;
    z-index: 3;
}




// IE ONLY STYLES




@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
  .team__title h3,.team__title p {
    font-size:1rem!important;
}
}

