.inner-content{
    
    @include outer-container;

    padding:1em;

      @include media($nav) {

      }
}

.page-header {
	h1{
		margin-top:2rem;
		
		font-size:2rem;
@include media($nav) {font-size:3vw!important;}
		 font-weight:600;
	color:$blue;
	text-align:center;
	
	}
}


.page-header__title{
	display:flex;
	align-items:center;
	justify-content:center;
	        flex-direction:column;
	        @include media($nav) {
	        	flex-direction:row;
	        }

	img{
		margin-right:.5rem;
		width:10%;
@include media($nav) {
width:3%;
	}
	}
}

.page-header__subtitle{
	text-align:center;

}


.fullpage__article{
	@include span-columns(12);
	        @include media($nav) {
@include span-columns(9);}
	h3{
		color:$red;

	
		text-align:center;
		font-weight:600;
		font-size:2rem;

		&:after{
				box-shadow:0px 4px $red;
				content:'';
				display:table;
				height:4px;
				width:50%;
				margin:auto;
		}
	}
}


.entry-content{
	display:flex;
	align-items:center;
	justify-content:center;
}


