.page-header__services {
    min-height: 30vh;
    height: 30vh;
    background: url('../images/services__bg.jpg') no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding: 2em;
        display: flex;
    align-items: center;
    justify-content: center;
}

.services {
    .page-header__title {
        margin-top: 0em;
    }
}

.service__content {
    width: 100%;
}

.service__info {
    width: 100%;
}


.service-header__title{
    border:10px solid $blue;
    font-size:8vw;
          @include media($nav) {
    font-size:4vw;
}
    border-radius:20px;
    padding:1rem;
}

.to-expect {
    padding: 1vh 3vw;
    display: flex;
    align-items: center;
  	justify-content:center;
    flex-direction:column;
      @include media($nav) {
      	  justify-content: space-between;
	flex-direction:row;
      }
}

.expect__title {
width:100%;
margin-top:2em;
text-align:center;
flex-direction:column;
	  @include media($nav) {
	  	flex-direction:row;
    width: 48%;
    margin-top:0em;

}



    h3 {
        font-family: $sans;
        font-weight: 600;
        margin:0;

        color: $blue;
        margin-top:0em;
        font-size: 2.5em!important;
        display:inline;

        &:before{
        	content:url(../images/heart__3c.svg);
        	margin:auto;
        	width:80px;
        		  @include media($nav) {
        	display:inline-block;
        	width:50px;
        }
        }
    }
}

.expect__border {
	
	position:relative;
width:50%;
margin-top:1em;
margin-bottom:1em;
	&:before{
	height:6px;
	content:'';
	position:absolute;
	width:100%;

        background: $blue;

        top: 0;
        bottom: 0;
        margin: auto;
	left:0;
        border-radius: 11px;
}

	  @include media($nav) {
    position: relative;
	margin:0em;
    height: 350px;
            width:auto;
    &:before {
        content: '';
        position: absolute;
        width: 6px;
        background: $blue;

        height: 60%;
        top: 0;
        bottom: 0;
        margin: auto;
        left: -15%;
        border-radius: 11px;
    }
}
}

.expect__summary {
    padding: 2em;
 width:100%;
    	  @include media($nav) {
    width: 48%;
}
    p {
        font-size: 1.1rem;
    }
}

.surgery {
	flex-direction:column;
  @include media($nav) {
flex-direction:row;
  }

    display: flex;
    
    
    h4 {
        
        font-weight: 600;
        font-family: $sans;
        font-size: 3em;
    }
}

.surgery__before {

    background: url('../images/chart__orange.svg') no-repeat $orange--light;
    background-size: 40%;
    background-position: 110%;
	flex:1;
width:100%;
    padding: 2em;
    display: flex;
 align-items:center;
 justify-content:center;
    flex-direction:column;
        @include media($nav) {
    align-items: flex-start;
    justify-content: flex-start;
}


	h4{
		color:$red;
	}

    ul {
        width: 60%;
        list-style:none;
    }
    ul li {
        h5 {
            margin: 0;
            color: $red;
            font-weight: 600;
            font-family: $sans;
        }
        font-family:$sans;
        color:$gray--dark;
        font-size:1.1rem;
        line-height:1.1rem;
        margin-bottom:1rem;
        ul {
            list-style: none;
            margin: 0;
            width: auto;
        }
    }
}

.surgery__after {
	flex:1;
width:100%;
    padding: 2em;
    display: flex;
    flex-direction:column;
 
    background: url('../images/hospital__white.svg') no-repeat $blue;
    background-size: 50%;
    background-position: 130%;
    align-items:center;
 justify-content:center;
    flex-direction:column;
        @include media($nav) {
    align-items: flex-start;
    justify-content: flex-start;
}



    h4{
    	color:$white;
    }
    ul {
        width: 60%;
    }
    ul li {
        font-family: $sans;
        font-size: 1.1rem;
        line-height: 1.1rem;
        margin-bottom: 1rem;
        color: $white;
    }
}
