

a.cta-button{

	border:4px solid $orange--light;
	border-radius:10px;
	padding:.5em 1em;
	font-family:$sans;
	color:$gray--medium;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:2px;
	transition:all .4s ease;
	text-decoration:none!important;

	&:hover{
		color:$blue--light;
		border:4px solid $blue--light;
	}

}

.button{
    border: 4px solid #21a8d9;
    border-radius: 10px;
    color: #21a8d9!important;
    font-weight: 700;
    font-size: 1.5em;
    width: 100%;
    margin-top: 2em;}

    .button:hover {
    background: #21a8d9;
    color: #f8f8f8!important;
}