.copyright__content {
   
    @include justify(space-around);
    @include align(center);
    @include outer-container;
    padding:0em 0 2em 0;
   	@include flexe(column);
   	flex-wrap:wrap;
   	  @include media($md){
   	  	 @include flexe(row);
    }
}

.footer__icons {
    @include flexe(row);
    @include justify(center);
    @include align(center);
	margin-bottom:2em;
	@include media($md){
		margin-bottom:0;
	}

    img{
    	margin-right:2em;
    }
}

footer {
    @include float(left);
    margin: 0 auto;
    padding: 0 0px;
    width: 100%;
    .site-info {
        margin: auto;
        width: 100%;
    }
    .footer-left {
        @include span-columns(6);
        margin-top: 30px;
        margin-bottom: 40px;
        padding: 10px;
        @include text-align(left);
    }
    .footer-right {
        @include span-columns(6);
        margin-top: 30px;
        margin-bottom: 40px;
        padding: 10px;
        @include text-align(right);
    }
}

// footer styles
.footer__aside--contact {
    @include flexe(row);
    @include justify(center);
    @include align(center);
}

.footer {
    background: #EAE0CF;
    color: $brown;
    & a {
        color: $brown;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            color: $brown;
        }
    }
    &__aside--contact {
        background: $cream;
        @extend %drop-shadow--small;
        border-bottom: 1px solid rgba($brown, .2);
        width: 100%;
        padding: 2em 1em 2em 1em;
		margin-bottom:.5em;
        @include media($md){
        margin-bottom: 2.1rem;}
        text-align: center;
        p {
            font-size: 1.2em;
            margin-bottom: 0;
        }
    }
}

.legal-notices__list {
	text-align:center;
	margin-bottom:2em;
	@include media($md){
		text-align:left;
		margin-bottom:0;
	}

    address{color:$medium-gray;
    	margin-bottom:.5em;}
    p {
    	text-transform:uppercase;
        font-size: 1em;
        margin-bottom: 0;
        color: $medium-gray;
        line-height:1em;
    }
 
    & a {
        font-size: 1em!important;
        color: $medium-gray;
    }
}