.site-branding {
    text-align: center;
    .site-title {
        font-family: $title;
        padding: 40px;
        @include media($sm) {
            @include fontSize(35px);
        }
        @include media($smbg) {
            @include fontSize(55px);
        }
        @include media($md) {
            @include fontSize(75px);
        }
        a,
        a:visited {
            line-height: 1;
        }
    }
    .site-description {
        padding: 25px 0;
        @include fontSize(20px);
        @include media($sm) {
            @include fontSize(15px);
        }
        @include media($smbg) {
            @include fontSize(18px);
        }
        @include media($md) {
            @include fontSize(25px);
        }
        font-family: $content;
        font-style: italic;
    }
}

// header styling
.header {
    background: $cream;
    z-index: 15;
}

// toolbar styling
.toolbar__container {
	@include flexe(column);
     
        @include align(center);
        @include justify(center);
        max-width:1140px;
        @include media($md){
        	 @include flexe(row);
        }
}

.toolbar {
    padding: 1em;
    background: darken($cream, 5%);
       @include flexe(row);
        @include align(center);
        @include justify(center);
    @include media($mdbg) {
        padding: 0;
    }
    &__connect {
        @include flexe(row);
        @include align(center);
        @include justify(center);
        margin-bottom:.5em;
        @include media($mdbg){
        	margin-bottom:0;
        }

    }
    &__address {
        font-size: .85em;
        font-style: normal;
        text-align:center;
          display:flex;

@include media($md){ text-align:left;}
        @include media($mdbg) {
            padding-left: 1.5em;

            font-size: 1em;

        }
    }
    &__social-list {
        @media screen and (max-width: 552px) {
            display: none;
        }
        @include media($smbg) {display:flex;}
        @include media($md) {}
        @include media($mdbg) {}
    }
    &__search-form {
		width:100%;
    	display:flex;
		margin-top: .6em;
        margin-bottom: 0em;
        height: 2.6rem;
        font-size: 1em;
        @include media($smbg) {
            margin-top: .5em;

        }
        @include media($md) {  margin-left:1em;
         width:auto;}
        @include media($mdbg) {}
        @include media($hg){margin-left:4em;}
        & [type='text'],
        & [type='submit'] {
            font-family: $base-font-family;
            font-size: 1em;
            color: $brown;
        }
        & [type='text'] {
            width: 100%!important;
            height: 2rem;
            padding-left: 1.3rem;
            border: 1px solid $brown;
            background: $cream url('../img/carillon__navigation--search-icon.png') no-repeat right center;
        }
        & [type='submit'] {
            width: 25%;
            height: 2.6rem;
            margin-left: 5%;
            border: 1px solid $brown;
            background-color: $cream;
        }
    }
}

.social-list__link {
    display: block;
    width: 26px;
    height: 26px;
}

[id^='social-icon'] {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: .5rem;
    background-repeat: none;
    &:last-child {
        margin-right: 0;
    }
}

#social-icon--email {
    background-image: url('../img/mail.svg');
}

#social-icon--facebook {
    background-image: url('../img/facebook.svg');
}

#social-icon--yelp {
    background-image: url('../img/yelp.svg');
}

#social-icon--foursquare {
    background-image: url('../img/foursquare.svg');
}

#social-icon--youtube {
    background-image: url('../img/youtube.svg');
}

#social-icon--instagram {
    background-image: url('../img/instagram.svg');
}

// logo styling
.header__logo {
    display: flex;
    @include flexe(row);
    @include align(center);
    @include justify(center);
}

.logo {
    height: 6em;
    display: block;
    background-image: url("../img/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 80%;
    @media screen and (min-width: 1024px) {
        display: inline-block;
        margin-bottom: 2em;
        margin-top: 2em;
    }
}

// main-nav styling
.nav {
    @media screen and (max-width: 1023px) {
        display: none;
        padding-top: 4.6rem;
    }
    @media screen and (min-width: 1024px) {
        display: inline-block;
        float: right;
        width: 62.625%;
    }
    &__toggle {
        @extend %all-caps--bold;
        font-size: 2.1rem;
        cursor: pointer;
        @media screen and (max-width: 660px) {
            padding: 3.4rem 0;
        }
        @media screen and (min-width: 661px) and (max-width: 1023px) {
            padding: 4.15rem 0;
        }
        @media screen and (max-width: 1023px) {
            display: inline-block;
            float: right;
            clear: right;
        }
        @media screen and (min-width: 1024px) {
            display: none;
        }
    }
    &__list {
        list-style: none;
        &-item {
            padding-left: 3.3rem;
            border-left: 1px solid $blue--light;
            &:last-child {
                @media screen and (max-width: 1023px) {
                    margin-bottom: 3.4rem;
                }
            }
            @media screen and (max-width: 1023px) {
                display: block;
                padding: .7rem 0 .7rem 3.3rem;
            }
            @media screen and (min-width: 1024px) {
                display: inline-block;
                float: left;
                width: 50%;
                padding-top: 4.6rem;
            }
            & ul {
                list-style: none;
                li {
                    padding: .7rem 0;
                    &:first-child {
                        padding-top: 0;
                    }
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
    & a {
        @extend %all-caps--normal;
        display: block;
        line-height: 1;
        color: $brown;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.lifecare {
    text-transform: none;
    letter-spacing: normal;
    & em {
        font-style: italic;
    }
}

.outer-shape {
    fill: rgb(87, 39, 0);
    transition: fill .5s ease;
}

.inner-shape {
    pointer-events: none;
}

.outer-shape:hover {
    fill: $blue;
}