


    .page-id-19 section {
    padding-bottom: 27px;
}
.page-id-19 .grid_1 {
    /*position: relative;*/
    /*top: 60px;*/
}
.page-id-19 .grid_1 img {
    margin-top: 15px;
    width: 58px;
    height: 42px;
}
.page-id-19 .grid_1 a {
    display: block;
    margin-top: 15px;
    width: 58px;
    height: 42px;
}
.page-id-19 .grid_1 a.youtube {
    background: transparent url('../img/icon-movie.png') no-repeat 0 0;
}
.page-id-19 .grid_1 a.youtube:hover {
    background: transparent url('../img/icon-movie.png') no-repeat 0 -42px;
}
.page-id-19 .grid_1 a.gallery {
    background: transparent url('../img/icon-photo.png') no-repeat 0 0;
}
.page-id-19 .grid_1 a.gallery:hover {
    background: transparent url('../img/icon-photo.png') no-repeat 0 -42px;
}
.page-id-19 img.grid_4 {
    margin: -50px 0 10px;
    position: relative;
    right: -12px;
}
@media screen and (max-width: 767px) {
    .page-id-19 .grid_1 {
        /*top: auto;*/
    }
    .page-id-19 img.grid_4 {
        left: 69px;
        margin-top: -99px;
        padding-right: 80px;
    }
}
.page-id-19 h3 + p {
    display: inline;
    float: left;
    position: relative;
    margin-left: 11px;
    margin-right: 11px;
    width: 538px;
}



.page-id-19 #main h3,
.page-id-21 #main h3.green {

    clear: left;
}
.page-id-21 #main h3.blue {

}
.page-id-36 #main figure {
    margin: 0;
    text-align: center;
}
@media screen and (max-width: 767px) and (min-width: 480px) {
    .page-id-36 #main figure {
        float: left;
        width: 50%;
    }
}
.page-id-31 #main figure:nth-of-type(4n+1),
.page-id-31 #main h3,
.page-id-210 #main figure:nth-of-type(4n+1),
.page-id-210 #main h3 {
    clear: left;
}

.page-id-31 #main figure,
.page-id-210 #main figure,
.page-id-21 #main figure {
}
.page-id-31 #main figure img,
.page-id-210 #main figure img,
.page-id-21 #main figure img {
    margin: 0 auto;
    max-width: 250px;
    padding: 0 32px;
    width: 100%;
}
.page-id-36 #main figure img {
    width: 100%;
    height: auto;
}
.page-id-36 #main figcaption,
.page-id-31 #main figcaption,
.page-id-210 #main figcaption,
.page-id-21 #main figcaption {
    color: #572700;
    text-align: center;
    font-size: 21px;
    line-height: 27px;
    text-transform: none;
    height: auto;
    margin: 20px 0;
    padding: 0;
}
.page-id-36 #main figcaption em {
    display: block;
    font-size: 19px;
}
.page-id-36 #main a figcaption {
    color: #572700;
}
.page-id-36 #main a:hover figcaption {
    color: #B06010;
}
.page-id-31 #main figcaption em,
.page-id-210 #main figcaption em,
.page-id-21 #main figcaption em {
    display: block;
}
#main .scheduled-weekly-activities dl {
    float: left;
    margin: 0 0 21px;
    font-size: 21px;
    line-height: 27px;
}
#main .scheduled-weekly-activities dl:last-of-type {
    margin-bottom: 54px;
}
#main .scheduled-weekly-activities dl dt,
#main .scheduled-weekly-activities dl dd {
    float: left;
    position: relative;
    margin-left: 11px;
    margin-right: 11px;
}
#main .scheduled-weekly-activities dl dt {
    font-weight: bold;
    display: inline-block;
    width: 218px;
}
#main .scheduled-weekly-activities dl dd {
    display: inline-block;
    width: 698px;
}
#main .scheduled-weekly-activities h3,
.page-id-21 #main h3.orange {
    clear: both;
}
.page-id-21 #main dl dt {
    font-weight: bold;
}
.page-id-21 #main dl dd {
    margin: 0;
}
.page-id-21 #content > iframe {
    position: relative;
    top: -50px;
    border: 1px solid #B06010;
    margin-bottom: -54px;
}
.page-id-33 #content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
    line-height: 37px;
}
.page-id-33 #content ul li a, .page-id-33 #content ul li a:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: #572700;
    font-weight: bold;
}
.page-id-33 #content ul li a:hover {
    color: #B06010;
}
.page-id-33 #content ul li a em {
    text-transform: capitalize;
    font-weight: normal;
    font-style: italic;
    padding-left: 4px;
}
.page-id-27 #content ul {
    margin: 0;
}




.page-id-30 h1{
    text-transform:capitalize;
}
