nav.top-bar {
@include media($nav){
	@include flexe(row);
@include justify(center);}


section.top-bar-section {
display: inline-block!important;
}


.top-bar-section ul li > a {
	font-size:1em;
	@include media($mdbg){
		font-size:1em;
	}
	@include media($hg){
		font-size:1.2em;
	}
}
}
.top-bar-section li.active:not(.has-form) a:not(.button){
	color:$blue;
}


ul.off-canvas-list li label{
	font-family:$sans;
	font-weight:300;
	font-size:1.2em;
}


ul.off-canvas-list li a:hover{
	background:$seafoam--medium;
	color:$white;
}


.tab-bar h1{
	font-family:$serif;
	text-transform:capitalize;
}



.top-bar{box-shadow: 0px 5px 5px 2px rgba(87, 39, 0, 0.5);

}

.top-bar-section li:not(.has-form) a:not(.button) {
	padding:0 .5rem;

	@include media($mdbg){
		padding:0 1rem;
		}}


.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
	box-shadow: 0px 5px 15px 2px rgba(87, 39, 0, 0.5);
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover{
	color:$white;
	background:$blue;
}



.top-bar-section .right li .dropdown{
	z-index:99999;
	@include media($md){
		right:-90px;
	}
	@include media($mdbg){
		right:auto;
	}
	}



.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
  @include media($nav){  font-size: 1em;
    padding: 0 .5em;}

}


.left-submenu{
	background:#8cb6a7;

 li:hover{background:#658378;

 }
}



.sub-menu dropdown > li .top-bar-section li.active:not(.has-form) a:not(.button){
font-size:1em;
}


.top-bar-section li.active:not(.has-form):last-of-type a:not(.button){
	font-size:1em;
		box-shadow: 0px 5px 15px 2px rgba(87, 39, 0, 0.5);
}


.large-nav{
	display:none;
	@include media(800px){
		display:block;
	}
}

.small-nav{
	display:block;
	@include media(800px){
		display:none;
		}
}



.LC a::first-word{
	font-style:italic;

}