

.blog{
    h2{
        color: $cream!important;
        font-size:1.75em!important;
        padding: .25em .25em .1em .25em;
        margin-bottom: 1em;
        margin-top: 2em;
        background:$seafoam--medium;
    }
    h2 a{color:$white}

    a{
        color:$seafoam--medium;
    }
}




.page-template-page-templatestemplate-full-width-php {
    #primary {
        @include fill-parent;
    }
    #secondary {
        @include fill-parent;
    }
}

.inner-content {}

.fullpage__header {
    width: 100vw;
    position: relative;
    box-shadow: inset 4px 4px 8px darken($brown, 10%);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b5f0e+0,733e00+44,572700+100 */
     @include justify(flex-start);
    background: url(../img/hero-homepage.jpg),
    radial-gradient(ellipse at center, lighten($brown, 15%) 0%, darken($brown, 1%) 74%, darken($brown, 5%) 100%);
    /* W3C */
    background-repeat:no-repeat;
    background-blend-mode:multiply;
    background-position:15% 12%;
    background-size:13%,
    100%;
padding: .5em;
       @include media($mdbg) {

     
    }
}

.page-title__container {
    @include outer-container();
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
       @include media($mdbg){padding-left:1.5em;}
}

.page-title {
    font-size: 1.5em;

    margin: 0;
    color: $white;
    font-family: $serif;
    @include media($mdbg) {
        font-size: 2.5em;
        padding: .5em 0;
    }
}

.featured {


    @include media($md){background:transparent;
    box-shadow: 0px 5px 15px 2px rgba(87, 39, 0, 0.5);
    float: right;
    margin: -160px 0 87px 33px;
    position: relative;
    top: 60px;
    z-index: 79;}
}

.entry-content {
    @include outer-container();
}

.fullpage__article{
    @include outer-container();
    padding: 1em;
    h3 {
        color: $cream;
        padding: .25em .25em .1em .25em;
        margin-bottom: 1em;
        margin-top: 2em;
        &:first-of-type {
            margin-top: 0px;
        }
        &:nth-of-type(4n+1) {
            background: $blue;
        }
        &:nth-of-type(4n+2) {
            background: $orange--medium;
        }
        &:nth-of-type(4n+3) {
            background: $seafoam--medium;
        }
        &:nth-of-type(4n+4) {
            background: $brown;
        }
    }
    @include media($mdbg){
    	padding:2em;
    }
}



.grid_1 a.youtube {
    background: transparent url('../img/icon-movie.png') no-repeat 0 0;}

    .grid_1 a.gallery {
    background: transparent url('../img/icon-photo.png') no-repeat 0 0;}






