// hero styles



.hero__title {
	color:$cream;
	font-family:$serif;
	font-style:italic;
	font-weight:400;
	font-size: 1.5em;
}
.hero__title + .hero__paragraph {
	margin-top: 1em;
}

.hero__paragraph{
	@include media($mdbg){padding-right:7em;}
	color:$cream;
	font-size:1.2em;
	line-height:1.8em;
}

.hero__paragraph--page {
	@extend %all-caps--bold;
	@media screen and (min-width: 1024px){
		position: absolute;
		top: 50%;
		margin-left: 34.375%;
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		font-size: 2.6rem;
		line-height: 1.38197;
	}
}

.hero--homepage__container {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b5f0e+0,733e00+44,572700+100 */
@include flexe(row);
@include justify(center);
background: url(../img/hero-homepage.jpg),radial-gradient(ellipse at center,  lighten($brown,4%) 0%,darken($brown,1%) 44%,darken($brown,5%) 100%); /* W3C */
background-repeat:no-repeat;
background-blend-mode:multiply;

    background-position: 25% 10%;
    background-size: 70%,100%;


@include media($smbg){
    background-position: 25% 2%;
    background-size: 40%,100%;}

@include media($mdbg){background-position:25% 2%;
background-size:20%,100%;}

padding:1em;

}


.hero--homepage{
	padding-top:1em;
	@include flexe(column);
	@include align(center);
@include justify(center);
@include media($mdbg){	@include outer-container();
	@include flexe(row);
}
}


.hero__seal{
	height:10em;
	@include media($mdbg){@include span-columns(3);
				padding:4em;
		height:auto;}
}
	

.hero__headline{
	margin-top:2em;
	text-align:center;
	@include media($mdbg){@include span-columns(8);
		text-align:left;
		margin-top:0;
	@include omega();}
}

.hero--seafoam {
	background-color: $seafoam--medium;
}
.hero--blue {
	background-color: $blue--medium;
}
.hero--orange {
	background-color: $orange--medium;
}


.main__homepage{

@include outer-container();
@include media($mdbg){
			@include flexe(center);
@include justify(space-between);
}

margin-top: 3em;


p{font-size:1em;}
}





.main__article{
	padding:2em;
	@include row();
	@include flexe(column);
	@include justify(flex-start);
	@include align(center);
	@include media($mdbg){
	@include span-columns(4);
	@include omega();}

	p{

		text-align:center;
		@include media($mdbg){
			text-align:left;
		}
	}
}

// article styling

.article {
	@extend %drop-shadow--small;

	z-index: 10;
	&__image-container--care {
		
		background-image:url(../img/hero-homepage2.jpg);

	}
	&__image-container--retirement {
		
		background-image:url(../img/hero-homepage1.jpg);
	}
	&__image-container--life {
		
		background-image:url(../img/hero-homepage3.jpg);

	}
}

[class^='article__image-container'] {
	@extend %drop-shadow--small;
	position: relative;

	
	padding: 8.4rem;

	background-repeat:none;
	background-size:cover;
	background-position:center;
	transition: .25s;
	&:hover {
		@extend %drop-shadow--large;
	}

}

.article__image-container--search-result {
	margin-bottom: 3.4rem;
	text-align: center;
	text-decoration: none;
	color: $cream;
	background-color: $blue--dark;
}

.article__image-container--retirement,
.article__image-container--care,
.article__image-container--life {
	height: 14.4rem;
}

[class^='article__section'] {
	@extend %clearfix;
	position: relative;
}

.section {
	&__title {
		width: 100%;
		padding: 1.7rem 0;
		color: $cream;
		background-color: $brown;
	}
	&__images {
		@media screen and (max-width: 865px){
			text-align: center;
			margin-bottom: 3.4rem;
		}
		@media screen and (min-width: 866px){
			float: left;
			width: 31.25%;
			margin-right: 3.125%;
		}
	}
	&__text {
		font-size: 2.1rem;
		padding-bottom: 5.5rem;
		@media screen and (min-width: 866px){
			float: right;
			width: 65.625%;
		}
	}
}

[class^='image--'] {
	@extend %drop-shadow--small;
	max-width: 80%;
}

.image--1 {
	-ms-transform: rotateZ(3deg);
	-webkit-transform: rotateZ(3deg);
	transform: rotateZ(3deg);
	z-index: 5;
}
.image--2 {
	-ms-transform: rotateZ(2deg);
	-webkit-transform: rotateZ(2deg);
	transform: rotateZ(2deg);
	z-index: 5;
}
.image--3 {
	-ms-transform: rotateZ(-2deg);
	-webkit-transform: rotateZ(-2deg);
	transform: rotateZ(-2deg);
	z-index: 1;
}
.image--4 {
	-ms-transform: rotateZ(-3deg);
	-webkit-transform: rotateZ(-3deg);
	transform: rotateZ(-3deg);
	z-index: 1;
}


[class^='text__title'] {
	text-transform: uppercase;
	font-size:1.7em;
	letter-spacing: .1rem;
	margin:5vh 0 1rem;
	@include media($mdbg){margin: 7em 0 1rem;}
}

.text__title--opening {
	@extend %clearfix;
	width: 100%;
	padding: 1.7rem 0;
	margin: 0 auto 3.4rem;
	color: $cream;
	background-color: $brown;
	& h2 {
		@extend .section__text;
		padding: 0;
	}
}

[class^='text__link'] {
	font-style: italic;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.text__title--seafoam,
.text__title--blue,
.text__title--orange {
	font-weight: normal;
	@media screen and (max-width: 1023px){
		
	}
}

.text__title--seafoam,
.text__link--seafoam {
	color: $seafoam--dark;
}

.text__title--blue,
.text__link--blue {
	color: $blue--dark;
}

.text__title--orange,
.text__link--orange {
	color: $orange--dark;
}

.text__list {
	list-style-position: inside;
	margin-top: 2.1rem;
}

.text__image {
	margin-top: 2.1rem;
}



.missionbar{
	@include flexe(row);
	@include justify(center);
	@include align(center);
	flex-wrap:wrap;
box-shadow: inset 2px 2px 8px $blue--dark;
	padding:2em;
background:$blue;


ul{@include outer-container;
	@include row();
	text-align:center;
margin-bottom:0;}

	li{
		text-transform:uppercase;

		font-family:$serif;
		color:$cream;
		font-size:1em;
		display:inline;

		&:last-of-type:after{
			content:none;}
		&:after{content:' • ';}
		
			@include media($smbg){
		&:nth-of-type(4n+3):after{
			content:none;}}
		
		@include media($mdbg){font-size:1.5em;}

	}

}

