.hero-rehab{
	background:$blue;
	padding:2em;
	@include flexe(row);
	@include justify(center);
	@include align(center);

	h1{
		margin:0!important;
		font-size:2em;
		color:$white;
		font-family:$serif;
	}
}