// Typography

$serif: 'Lora', serif;
$sans: 'Lora', serif;

$base-font-family: $serif;
$heading-font-family: $serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;


// 2	Color definitions



// 2.1	Base colors
$white:#fff;
$brown:		#572700;
$blue:		#56A0D3;
$blue--light:		#b2cada;
$blue--medium:		#78aed8;
$blue--dark:		#5c85a5;
$seafoam--medium:	#8cb6a7;
$seafoam--dark:		#658378;
$orange--medium:	#e4a15a;
$orange--dark:		#a06c35;
$cream:				#EDE7DD;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;


// Font Colors
$base-background-color: $cream;
$base-font-color: $brown;
$action-color: $blue;

$base-body-color: $cream;
$icon-color: $blue;
$primary-font-color: $brown;
$link-color: $blue;
$title: $sans;
$content: $serif;


// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);







// 3	Background image

$background-image:	url('../img/carillon-rehab__image--background-texture.png');




// Placeholders

%all-caps--normal {
	text-transform: uppercase;
	letter-spacing: .1rem;
}
%all-caps--bold {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .2rem;
}

%drop-shadow--large {
	position: relative;
	-webkit-box-shadow: 0px 8px 21px 0px rgba(0,0,0,0.61803);
	-moz-box-shadow: 0px 8px 21px 0px rgba(0,0,0,0.61803);
	box-shadow: 0px 8px 21px 0px rgba(0,0,0,0.61803);
}

%drop-shadow--small {
	position: relative;
	-webkit-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.38197);
	-moz-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.38197);
	box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.38197);
}

%textured {
	background-image: url('../img/carillon-rehab__image--background-texture.png');
	background-repeat: repeat;
}

@mixin flexe($direction) {
	display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: $direction;
   flex-direction: $direction;

}


@mixin align($align){
	   -webkit-align-items: $align;
   align-items: $align;
}

@mixin justify($justify){
	   -webkit-justify-content: $justify;
   justify-content: $justify;
}



